# Claude
.claude
Claude.md

# Ignore files
*.pt
*.pth
*.ckpt
*.log
*.ipynb

# Ignore directories
.venv
.git
__pycache__/
logs/
checkpoints/
data/*
result/*
result_analysis/*
wandb
result_pipeline
paper/*

# Personal
